#options{
    backdrop-filter: blur(20px);
    width:80%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap:10px;
    box-shadow:0px 0px 0px springgreen,0 0 5px springgreen ;
    margin-bottom:15px;
}
.storage{
  display: flex;
  width:100%;
  flex-direction: row-reverse;
  gap:0.5rem;
  margin-bottom: 1rem;
}
#overlay{
  display:none;
  position: absolute;
  top:0;
  right:0;
  z-index: 2;
  backdrop-filter: blur(2rem);
  width:100%;
  height: 150%;
}
#functions{
    backdrop-filter: blur(20px);
    min-width: 15%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap:10px;
}
#app{
    width:100%;
    display: flex;
    flex-direction: row;
    gap:15px
}
.description{
  text-shadow:none;
  font-size: 16px;
  width: 100%;
  text-align: justify;
}
#mainArea{
  width: 100%;
  display:flex;
  flex-direction: column;
  gap:5px;
}
#labelArea{
  display: flex;
  flex-direction: row;
}
#netArea{
  width: 100%;
  display: flex;
  flex-direction:row;
  gap:10px;
}
.network{
    width:100%;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    height:500px;
    box-shadow:2px 2px 5px springgreen,-2px -2px 5px springgreen;
}

#addEdgeField{
    box-shadow:-2px 2px 5px springgreen;
    width:75%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap:10px;
  }
#showMainNet{
  font-size: 14px;
  align-self: flex-end;
}
#showOutNet{
  font-size: 14px;
}
#outDescription{
  align-self: flex-end;
  width:30%;
  text-align: left;
}
#swapEdge{
  font-size:20px;
}
.menu{
  width : 100%;
  flex-direction: row;
  align-content: space-around;
  gap : 10px
}

#algData{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.glitchError{
  animation: glitch 250ms none;
}
.errorLabel{
    position: absolute;
    display: none;
    width:100%;
}
.showError{
  font-size: 20px;
  color: red;
  text-shadow: 2px 0 rgb(101, 2, 182),-2px 1px rgb(2, 182, 137);
  position: absolute;
  display: inline;
  width:200%;
  animation: error 1000ms none;
}
.showError1{
  font-size: 25px;
  color: red;
  text-shadow: 2px 0 rgb(101, 2, 182),-2px 1px rgb(2, 182, 137);
  position: absolute;
  display: inline;
  width:500%;
  animation: error1 1000ms none;
}

#overlay fieldset{
  margin-left: auto;
  margin-top:5rem;
  margin-right:auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding:2rem;
  gap:1em;
}
#overlay fieldset div{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  gap:2em;
}
