*::selection{
  color:rgb(150, 252, 201);
  background-color: rgba(0, 255, 127,0.1);
}
body{
    display:flex;
    flex-direction: column;
    background-image:url("../imgs/Net.jpg");
    color:springgreen;
    text-shadow: 2px 0 rgb(101, 2, 182),-2px 1px rgb(182, 2, 2);
    font-weight: bold;
    font-style: oblique;
    font-family: monospace;
}

h1{
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  font-style: oblique;
  font-family: monospace;
}
input[type="number"]{
  margin-left: 5px;
  border-radius: 20px;
  width:50%;
  text-align: right;
  background-color: transparent;
  color:springgreen;
  font-weight: bold;
  font-size: 20px;  
  border:3px solid springgreen;
}
input[type="text"]{
  border-radius: 15px;
  text-align: left;
  background-color: transparent;
  color:springgreen;
  font-weight: bold;
  font-size: 14px;  
  border:3px solid springgreen;
}
fieldset{
  border-radius: 15px;
  border-color: springgreen;
  box-shadow:-2px 2px 5px springgreen,0 0 5px springgreen ;
}
fieldset label{
  font-size: 18px;
  font-weight: bold;
}
fieldset legend{
  font-size: 25px;
  font-weight: bold;
}
select {
  margin-left: 5px;
  border-radius: 10px;
  text-align: right;
  background-color: transparent;
  color:springgreen;
  font-weight: bold;
  font-size: 16px;  
  border:3px solid springgreen;
}
select option {
  background-color:black;
  font-weight: bold;
}
fieldset table{
  display: block;
  border-radius: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  font-size: 1rem;  
  border:0.1rem solid springgreen;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 30em;
}
fieldset table th{
  background-color: black;
  font-size: 1.2rem; 
}
table tbody{
  white-space: nowrap;
}
table tr td{
  padding:1rem;
  border:0.1rem solid springgreen;
}